[all:vars]
ansible_connection=ssh
ansible_user=lucas

[worker]
${worker1-name} ansible_host=${worker1-ip} # ${worker1-id}
${worker2-name} ansible_host=${worker2-ip} # ${worker2-id}

[master]
${master1-name} ansible_host=${master1-ip} # ${master1-id}

[worker:vars]
kubernetes_role=node
[master:vars]
kubernetes_role=master