[all:vars]
ansible_connection=ssh
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa

[cloud]
%{ for name, ip in master ~}
${name} ansible_host=${ip}
%{ endfor ~}

[edge]
%{ for name, ip in worker ~}
${name} ansible_host=${ip}
%{ endfor ~}

[microk8s]
%{ for name, ip in microk8s_instances ~}
${name} ansible_host=${ip}
%{ endfor ~}

[k3s]
%{ for name, ip in k3s_instances ~}
${name} ansible_host=${ip}
%{ endfor ~}

[openyurt]
%{ for name, ip in openyurt_instances ~}
${name} ansible_host=${ip}
%{ endfor ~}

[mongo]
%{ for name, ip in mongo_instances ~}
${name} ansible_host=${ip}
%{ endfor ~}

[cloud:vars]
kubernetes_role=master

[edge:vars]
kubernetes_role=edge
