[all:vars]
ansible_connection=ssh
ansible_user=lucas

[cloud]
%{ for name, ip in master ~}
${name} ansible-host=${ip}
%{ endfor ~}

[edge]
%{ for name, ip in worker ~}
${name} ansible-host=${ip}
%{ endfor ~}

[cloud:vars]
kubernetes_role=master

[edge:vars]
kubernetes_role=edge
