[all:vars]
ansible_connection=ssh
ansible_user=deploy_git

[cloud]
%{ for name, ip in master ~}
${name} ansible_host=${ip}
%{ endfor ~}

[edge]
%{ for name, ip in worker ~}
${name} ansible_host=${ip}
%{ endfor ~}

[cloud:vars]
kubernetes_role=master

[edge:vars]
kubernetes_role=edge
